@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body{
   font-family: 'Poppins', sans-serif;
    /* background: url("/images/background-1.jpg") no-repeat;
    background-size: cover; */
}
#brand_name{
    font-size: 25px;

}
#brand_name i{
    margin-right:10px;
    
}
.nav-item{
    margin:2px 15px 2px 10px;
}
.nav-item >.nav-link{
    font-weight: bolder;
}
#nav_signUp-btn{
    background-color: rgb(58,195,41);
    border:1px solid rgb(58,195,41);
}
#nav_signUp-btn:hover{
    background-color: rgb(36, 170, 19);
    border:1px solid rgb(58,195,41);
}
#nav_signUp-btn a,#nav_login_btn a{
    display: block;
    color:white;
    font-weight: bold;
    text-decoration: none;
}
/*  #sidebar{
    // background:rgba(143, 92, 204,0.8); 
    background:#312f2f;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    color:white;
    height:100%;
}
#sidebar h1{
    padding: 10px 20px 30px 20px;
    border-bottom: 1px solid #ffffff;
    font-size: 25px;
    margin-bottom: 50px;
}
#menu ul{
    list-style: none;
}
#menu ul li a{
    display: block;
    text-decoration: none;
    // text-align: center; 
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 0px 30px 20px;
}  */
#home_main{
    margin-top:30px;
}
#notification,#welcom_page{
    z-index:1000;
    padding:20px;
    box-shadow: 1px 4px 10px 5px #888888;
}
#navbar{
    background:#faf9f9;
    border-bottom: 1px solid #000000;
    z-index: 1;
}
#notification{
    overflow:scroll;
    height:200px;
}
#notification h4,#welcom_page h4{
    width:100%;
    text-align: center;
    padding:5px;
    font-weight:bolder;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
}
#login_here{
    margin-top:50px;
    margin-bottom:50px;
}
#login_here .buttons{
    z-index:1;
    padding:20px;
    box-shadow: 1px 4px 10px 5px #888888;
}
#signUp-btn a,#login_btn a{
    display: block;
    color:white;
    font-weight: bold;
    transition: all 0.3s ease;
    text-decoration: none;
    width:200px;
}
#signUp-btn{
    background-color: rgb(58,195,41);
    border:1px solid rgb(58,195,41);
}
#signUp-btn:hover{
    background-color: #007bff;
    border:1px solid #007bff;
}
#login_btn:hover{
    background-color: rgb(58,195,41);
    border:1px solid rgb(58,195,41);
}
footer{
    position: static;
    left:0;
    bottom:0; 
    width:100%;
    z-index:1;
    background:#f1f1f1;
    padding:20px;
}
footer h6{
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color:gray;
    transition: all ease 0.3s;
}
footer a:hover{
    color:#006FAB;
    text-decoration:none;
}
footer ul{
    list-style:none;
}
#facebook{
    color:#4867AA;
}
#youtube{
    color:#FF0000;
}
#twitter{
    color:#1C9CEA;
}
#linkedin{
    color:#006FAB;
}
#google_plus{
    color:#C2443A;
}
#login_box{
    margin-top:100px;
}
.about_navbar{
    position: fixed;
    top:0;
    left:0;
}
#login_form{
    border-top: 4px solid #1293de;
    z-index:1;
    padding:20px;
    box-shadow: 1px 4px 10px 5px #888888;
}
#login_form h6{
    margin: 0;
    font-size: 20px;
    height: 40px;
    text-align: center;
    border-bottom: 2px solid #1293de ;
    margin-bottom: 30px;
}
#form_label{
    font-size: large;
}

#exampleInputEmail1,#exampleInputPassword1{
    box-sizing: border-box;
    width: 100%;
    /* color: white; */
    border: 2px solid #1293de;
    background: #f4f4f5;
    font-size: 15px 10px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 10px;
    margin-bottom: 20px;
}
#button1{
    border: none;
    width: 100%;
    background: #1293de;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
#Login_Form a{
    text-decoration: none;
    color: white;
    display: block;
    font-family: arial;
    font-size: 15px;
	margin:20px;
}
#Login_Form a:hover{
	text-decoration:underline;
}
#sidebar{
    height: 100%;
    position:fixed;
    background:#faf9f9;
    color:black;
    z-index:1;
}
#sidebar a{
    display: block;
    color:black;
    text-decoration:none;
    /* transition:all 0.5s ease;  */
    padding:5px;
    margin:2px 2px 2px 2px;
}
#sidebar a:hover{
    border-left:5px solid #1293de ;
}
#sidebar p{
    position:fixed;
    left:10px;
    font-size: medium;
    padding: 5px;
    border-top: 1px solid white;
    width: 100%;
}
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  /* @media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
} */
  .openbtn:hover {
    background-color:#444;
  }
#expand-button{
    width:25%;
    height:30px;
    /* background:black;
    color:white; */
    color:black;
    margin:5px;
}
#expand-button i{
    font-size:large;
}
#expand-button:hover{
    background-color:#444;
    color:#f1f1f1f1;
    
}

/*about page styling of about_bms*/
#about_bms{
    min-height: 95vh;
}
.about_title{
    margin-top:20px;
    margin-bottom: 30px;
    border-bottom:;
}
.about_title h3{
    font-family: 'Ubuntu', sans-serif;
    font-size:35px;
}
.about_title span{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: crimson;
    transform: translateX(-50%);
}
.about_content img{
    height: 100%;
    width: 100%;
}
.about_content{
    margin-top:20px;
    padding:20px;
    margin-bottom: 30px;
}
.about_content h4{
    font-size:30px;
    color:crimson;
}
.about_content p{
    text-align: justify;
    font-size:17px;
    padding: 10px;
    line-height: 25px;
}
.about_team{
    background: #111111;
    color:white;
    

}
.about_team .about_teamMembers .profile_image{
    margin:10px 10px;
    margin-bottom: 30px;
    padding:10px 30px;
    transition: 2s all ease;
}
.about_team .about_teamMembers .profile_image img{
    width:200px;
    margin:15px 50px;
    border-radius: 100%;
    border:5px solid crimson;
    transition: 1s all ease;
}
.about_team .about_teamMembers .profile_image h5{
    font-size: 1.5rem;
        margin: 5px 0px;
    padding: 5px 10px;
    border-bottom: 2px solid crimson;
    transition: 1s all ease;
}
.about_team .about_teamMembers .profile_image p{
    font-size:1.2rem;
    font-weight: 500;
}
.about_team .about_teamMembers .profile_image:hover{
    background:crimson;
}    
.about_team .about_teamMembers .profile_image:hover img{
    border-color:#ffffff;
}
.about_team .about_teamMembers .profile_image:hover h5{
    border-color:#ffffff;
}

/*contact page  css code start here*/\

.contact_data{
    padding:10px;
    margin-bottom:30px;
    min-height: 75vh;
}
.contact_data p{
    text-align: justify;
    text-indent: 15px;
}
.contact_data .label{
        margin-top: 0px;
    padding: 2px;
    font-size: 18px;
    font-weight: 700;
}
.contact_data .label_description{
        font-family: 'Poppins';
    color: black;
    font-size: 18px;
    color: #000000a3;
    margin-left: 18px;
    
}
.contact_data .icon{
        font-size: 30px;
    padding: 10px;
    padding-left: 20px;
    color: crimson;
}
.contact_data #exampleInputText1, #exampleInputText2, #exampleInputEmail1,#exampleFormControlTextarea1{
    
    margin:12.5px 0px 12.5px 0px;
    padding: 10px;
    background: white;
    font-size: 15px;
    background: white;
    font-weight: 300;
}
.contact_data #exampleInputText1{
    width: 48%;
    float: left;
}
.contact_data #exampleInputEmail1{
     width: 48%;
     margin-left: 15px;
     float: right;
}
.contact_data #exampleInputText2{
    width: 100%;
    float: left;
}
#contact{
    margin-top:30px;
}
.contact_data h5{
    margin-bottom: 15px;
    font-weight: 700;
}
.contact_data #btn{
    margin-bottom: 50px;
}
/*contact page  css code End here*/